{% extends "base.html" %}
{% load static %}



{% block content %}
<div class="container mx-10">
    <h2 class="text-center">Search Movies</h2>
    <!-- Search input field -->
    <input type="text" id="searchInput" placeholder="Search movies..." class="form-control mb-3 w-50 mx-auto">

    <!-- List to display search results -->
    <ul id="searchResults" class="list-group w-50 mx-auto">
        <!-- Results will be dynamically inserted here -->
    </ul>
</div>
{% endblock %}


{% block extra_js %}<script src="{% static 'js/search.js' %}"></script>{% endblock %}